.child-one {
    background-color: aqua;
    padding: 50px;
}

.child-two {
    background-color: plum;
    padding: 50px;
}

.child-three {
    background-color: rgb(46, 157, 23);
    padding: 50px;
}